apiVersion: v1
kind: Service
metadata:
  name: reverseproxy
  labels:
    app: reverseproxy
spec:
  selector:
    app: reverseproxy
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
#  type: NodePort   
 